<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         backupGlobals="true"
         stopOnFailure="false">

    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="error_reporting" value="32767"/>
        <const name="PHPUNIT_TESTSUITE" value="true"/>
    </php>

    <extensions>
        <extension class="Cake\TestSuite\Fixture\PHPUnitExtension"/>
    </extensions>

    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="default">
            <directory>tests/TestCase</directory>
        </testsuite>
    </testsuites>
</phpunit>
